/*** Menu****/
#menu-item-95 a
{
	background-color: #E0B9B4 !important; 
    color:white !important;
    font-size: 16px;
    font-weight: 700;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0 !important;
    margin-right: 0;
    margin-top: 0 !important;
}

#menu-item-95 a:hover
{
	background-color: #C02E44 !important;
    color:white; 
}

#planty-admin a:hover
{
    font-size: 13px !important;
    font-weight: 700;
    line-height: 15.6px;
    text-align: left;
}

#planty-admin
{
    color:black;
}

#menu-item-62 a:hover
{
    font-size: 13px !important;
    font-weight: 700;
    line-height: 15.6px;
    text-align: left; 
}

/*** precommande  quantite****/
.qt
{
    width: 43px;
    height: 65px;
    text-align: center;
    margin: auto;
    padding: 0;
    
}

.qt input
{
    appearance: none;
    background-color: white;
    height: 56px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

/*** formulaire de precommande ****/
.form-commande
{
    display: flex;  
    flex-direction: row;
    column-gap: 50px;
}
.form-commande label
{
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    color:white;
    margin-bottom: 20px;
}

.form-commande .colonne1
{
    width: 44%;
}

.form-commande .colonne2
{
    width: 44%;
}
.form-commande .colonne1 input
{
    margin-top: 10px;
    border-radius: 7px !important;
    padding-top: 25px !important;
    padding-bottom: 20px !important;
    width: 100%;
}
.form-commande .colonne2 input
{
    margin-top: 10px;
    border-radius: 7px !important;
    padding-top: 25px !important;
    padding-bottom: 20px !important;
    width: 100%;
}
.form-commande .trait-vertical
{
    width: 1px;
    height: 420px;
    background-color: white;
}
.form-global .bouton-commander
{
    text-align: center;
    margin-top: 44px;
    padding: 0;
    margin-left:0;
    margin-right: 0;
    width: 100%;
    
}
.bouton-commander input
{
    text-align: center;
    border:none !important;
    margin: 0; 
    padding: 15px 56px 15px 56px; 
    
}

.form-commande .titre
{
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
    color:white; 
    margin-bottom: 29px;
}

.form-global
{
    width:100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.bouton-commander p
{
    width: 198px;
    margin:auto;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) 
    {
        .form-commande
        {
            width: 100%;
           
        }
        .form-global
        {
            width: 100%; 
        }
    }
 
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) 
{
    .form-commande
    {
        display: flex;  
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }

    .colonne1
    {
        display:flex;
        flex-direction: column;   
    }

    .colonne2
    {
        display:flex;
        flex-direction: column;
    
    }
    
    .form-commande .colonne1
    {
        width: 90%;
        margin: auto;
    }
    
    .form-commande .colonne2
    {
        width: 90%;
        margin: auto;
    }

    .form-commande .trait-vertical
    {
        width: 80%;
        height: 1px;
        background-color: white;
        margin:auto;
    }
   
    .bouton-commander
    {
        width: 100%;
    }

    .form-global
    {
        width: 100%;
    }

    .form-commande .titre
    {
        font-size: 25px;
        margin-bottom: 29px;
     }
}